:root {
    --base-font-color: #333;
    --bg-color: #fff;
    --main-width: 120.0rem;
    --primary-color: #f0353c;
    /* Swiper Setting */
    --swiper-pagination-bullet-height: 1.2rem;
    --swiper-pagination-bullet-horizontal-gap: .6rem;
    --swiper-pagination-bullet-width: 1.2rem;
    --swiper-pagination-color: #f0353c;
    --swiper-theme-color: #f0353c;
}

[data-color="black"] {
    --txt-color: #000;
}

[data-color="red"] {
    --txt-color: #d6000f;
}

[data-color="white"] {
    --txt-color: #fff;
}

